<div class="panel panel-default" ng-submit="submitNewLeaveRequest()">
    <div class="panel-heading">New Leave Request</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="startDate">Start date</label>
                <p class="input-group">
                    <input id="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.startDate" is-open="isStartDateOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event, 'isStartDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="endDate">End date</label>
                <p class="input-group">
                    <input id="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.endDate" is-open="isEndDateOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event, 'isEndDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="reasonDropdown">Reason</label>
                <div class="dropdown">
                    <select id="reasonDropdown" class="form-control" ng-model="data.reasonId" ng-options="reason.id as reason.name for reason in lookups.reasons | orderBy: 'name'">
                        <option value="" disabled selected style='display:none;'>Select reason...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" ng-model="data.comments"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<!--start and end date; a reason (Annual, Personal, Compassionate or Parental); and comments, and .--> 