<div class="panel panel-default" ng-submit="submitNewLeaveRequest()">
    <div class="panel-heading">Leave Requests</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <th class="text-center">Username</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Reason</th>
            <th class="text-center">Comments</th>
            <th class="text-center">Created Date</th>
            <th class="text-center">Status</th>
            </thead>
            <tbody>
                <tr ng-if="!data.leaveRequests">
                    <td colspan="6">Loading...</td>
                </tr>
                <tr ng-if="data.leaveRequests && data.leaveRequests.length === 0">
                    <td colspan="6">No record(s) found</td>
                </tr>
                <tr ng-if="data.leaveRequests && data.leaveRequests.length > 0" ng-repeat="leaveRequest in data.leaveRequests | orderBy: 'createdDate': true">
                    <td ng-bind="leaveRequest.user.username"></td>
                    <td class="text-right" ng-bind="leaveRequest.startDate | amDateFormat: $window.CompanyABC.Constants.DateFormat"></td>
                    <td class="text-right" ng-bind="leaveRequest.endDate | amDateFormat: $window.CompanyABC.Constants.DateFormat"></td>
                    <td class="text-center" ng-bind="leaveRequest.reason.name"></td>
                    <td ng-bind="leaveRequest.comments"></td>
                    <td class="text-right" ng-bind="leaveRequest.createdDate | amDateFormat: $window.CompanyABC.Constants.DateTimeFormat"></td>
                    <td class="text-center">
                        <div ng-if="leaveRequest.leaveRequestStatus === null && data.userRoleId === $window.CompanyABC.Constants.UserRole.Manager">
                            <i class="glyphicon glyphicon-ok success" tooltip="Approve" ng-click="approveLeaveRequest(leaveRequest, true)"></i>
                            <i class="glyphicon glyphicon-remove danger" tooltip="Reject" ng-click="approveLeaveRequest(leaveRequest, false)"></i>
                        </div>
                        <div ng-if="leaveRequest.leaveRequestStatus !== null">
                            <i class="glyphicon glyphicon-ok success" tooltip="Approve" ng-show="leaveRequest.leaveRequestStatus.id === $window.CompanyABC.Constants.LeaveRequestStatus.Approved"></i>
                            <i class="glyphicon glyphicon-remove danger" tooltip="Reject" ng-show="leaveRequest.leaveRequestStatus.id === $window.CompanyABC.Constants.LeaveRequestStatus.Rejected"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>